* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(bg1.png) no-repeat center center/cover;
    position: fixed;
}

.navbar--chat {
    background-color: #72b044;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4.5rem;
}

.navbar--chat--search {
    height: 2.2rem;
    width: 14vw;
    padding: 15px;
    margin-left: 25px;
    border: none;
    border-radius: 10px;
}

.navbar--chat--profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--chat--profile--bell {
    font-size: 1.3rem;
}

.navbar--chat--profile--icon {
    border: 2px solid white;
    border-radius: 30px;
    /* padding: 1px; */
    margin: 8px 30px 8px 30px;
}

.navbar--chat--profile--icon--img {
    width: 50px;
    height: 50px;
}

/* Chats */

#chats {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-message-container {
    /* border: 2px solid red; */
    border: none;
    border-radius: 10px;
    height: 80vh;

}

.chats {
    width: 25vw;
    background-color: white;
    margin: 50px 6px 20px 0px;
}

.chat--messages {
    width: 65vw;
    margin: 50px 0px 20px 6px;
}

.chats--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}

.chats-search {
    padding: 5px;
    height: 2rem;
}

.all--chats {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    /* padding: 10px 0px; */
    margin: 13px 0px;
    overflow-y: auto;
}

.all--chats-chat {
    /* border: 2px solid red; */
    border-top: 1px solid black;
    border-bottom: none;
    padding: 10px;
    /* margin-bottom: 5px; */
    /* border-radius: 10px; */
    /* background-color: #72b044; */
    background-color: #b5b5b5 ;
}

.all--chats-chat--active{
    background-color: #72b044;
}

.chat--messages {
    display: flex;
    flex-direction: column;
}

.chat-messages-info {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
}

.chat-messages-container {
    overflow-y: auto;
    border: 2px solid red;
    padding: 10px 40px;
    height: 90%;
    /* background: url(chat-bg.jpg) no-repeat center center/cover; */
}

.left {
    float: left;
    clear: both;
    color: white;
    background-color: rgb(0, 17, 255);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.right {
    float: right;
    clear: both;
    color: white;
    background-color: rgb(0, 255, 55);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.chat-message-input{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.message--text--send{
    width: 95%;
    height: 2.5rem;
    padding: 20px;
}

.message--text--send--icon{
    background: white;
    width: 5rem;
    height: 2.5rem;
}