html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(51, 51, 51) !important;
    padding-top: 0px;
}

.navbar {
    --bs-navbar-padding-y: 0.5rem !important;
}

#navbar_logo {
    width: 4rem;
    margin-left: 1.5rem;
}

@media screen and (max-width:600px) {
    #navbar_logo {
        width: 4rem;
        padding-left: 0rem;
    }

    .name_nav {
        text-align: left;
    }

}

.navbar-toggler-icon {
    background-color: white;
}

#navbar_logo:hover {
    cursor: pointer;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    font-size: 1rem !important;
}

.nav-link:hover {
    color: #454545 !important;
}

@media screen and (min-width:1000px) {
    #current {
        background-color: #353535 !important;
        border-radius: 9px;
        color: white !important;
    }

}

.actual_logo a {
    text-decoration: none;
}

.actual_logo a:hover {
    transition: 0.1s;
}

#start_button {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    background-color: black !important;
}

#start_button:hover {
    background-color: #ffffff !important;
    border-color: #ffffff;
    color: #000000 !important;
}

#start_button_explore {
    color: #72B044 !important;
    border: 2px solid #72B044 !important;
    background-color: black !important;
}

#start_button_explore:hover {
    background-color: #72B044 !important;
    border-color: #72B044;
    color: #ffffff !important;
}

.name_nav {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}


.bgCover1 {
    background-image: url(../img/bg1.png);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    position: fixed;
    background-color: var(--white);
    z-index: -1;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}

.homepage_intro {
    width: 60%;
    margin: 12rem 5rem;
    color: white;
    text-align: center;
    padding-bottom: 80px;
}

.homepage_intro_heading {
    width: 40rem;
}

@media screen and (max-width:1000px) {
    .homepage_intro_heading {
        width: 20rem;
    }
}

@media screen and (max-width:600px) {
    .homepage_intro_heading {
        width: 15rem;
    }
}

.break {
    width: 100%;
    background-color: #1c1c1c;
    color: #396b12;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 10px black;
}


.vision_cards {
    padding-left: 50px !important;
}

.vision_intro {
    text-align: center;
    color: white;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0rem !important;
}

/* .vision_cards{
    display: flex;
    justify-content: space-around;
} */
.card {
    width: 27.5%;
    display: inline-block !important;
    background-color: #1c1c1c !important;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px black;
    transition: 0.2s;

}

.card:hover {
    box-shadow: 0px 0px 15px 10px black;
    transition: 0.2s;

}

.card_heading {
    color: #72B044;
}

.card_content {
    color: white;
}

@media screen and (max-width:1000px) {
    .card {
        width: 100%;
        display: inline;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .vision_cards {
        padding-left: 0px !important;

    }

}




#team {
    color: white;
    text-align: center;
}

.member {
    width: 33%;
    display: inline-block;
    text-align: center;
    color: white;
}

@media screen and (max-width:1000px) {
    .member {
        width: 100% !important;

    }

    .team {
        align-items: center;
    }
}

#member_button {
    color: #72B044 !important;
    border-color: #72B044 !important;
}

#member_button:hover {
    color: white !important;
    background-color: #72B044 !important;
}

.member_post {
    color: #72B044;
}

.member_img {
    width: 20rem;
}

.wh-custom-css {
    width: 360px !important;
    height: 350px !important;
    display: block;
    justify-content: space-between !important;
}

.flex-custom {
    display: flex;
    flex-direction: row;
}

.jus-custom {
    text-align: justify;
    /* text-justify: inter-word; */
}