html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(51, 51, 51) !important;
    padding-top: 0px;
}


.bgCover1 {
    background-image: url(../img/bg1.png);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    position: fixed;
    background-color: var(--white);
    z-index: -1;
}




.navbar {
    --bs-navbar-padding-y: 0.5rem !important;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: left !important;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0rem !important;
}


#navbar_logo {
    width: 4rem;
    margin-left: 1rem;
    display: inline-block;
}
.name_nav {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.navbar_logo_text{
    text-decoration: none !important;
}

@media screen and (max-width:600px) {
    #navbar_logo {
        width: 4rem;
        padding-left: 0rem;
    }

    .name_nav {
        text-align: left;
    }

}
@media screen and (min-width:1000px) {
    #current {
        background-color: #353535 !important;
        border-radius: 9px;
        color: white !important;
    }

}



.navbar-toggler-icon {
    background-color: white;
}

#navbar_logo:hover {
    cursor: pointer;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    font-size: 1rem !important;
}

.nav-link:hover {
    color: #454545 !important;
}


#innercard {
    background-color: #1c1c1c;
    border: 2px solid #72B044;
    border-radius: 20px;
    color: white;

}
.seller_box{
    width: 59vw !important;
}


#buy_button {
    color: #72B044 !important;
    border: 2px solid #72B044 !important;
    background-color: #111111 !important;

}

#buy_button:hover {
    background-color: #72B044 !important;
    border-color: #72B044;
    color: #ffffff !important;
}

.product_image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.productpage_heading{
    color: white;
    text-align: center;
}




